@import "mixins/mixins";
@import "common/var";


$count: 8;
.loading__box {
  width: 500px;
  height: 50px;
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  .loading__box-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 50px;
    display: flex;
    filter: blur(5px) contrast(8);
    background: #fff;
    display: flex;
  }
}
.loading__box-container {
  margin: auto;
  position: relative;
  width: 20px;
  height: 20px;
}

.loading__box-ball,
.loading__box-first {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #12aa9c;
  border-radius: 50%;
  transform: translate(-700%, 0);
  opacity: 0;
  // animation: move 3s infinite linear;
}

@for $i from 0 through $count {
  .loading__box-ball:nth-child(#{$i}) {
    animation: move 4s infinite #{$i * 0.2 + 0.1}s linear;
  }
}

.loading__box-first {
  animation: scaleMove 4s infinite linear;
}

@keyframes move {
  20% {
    opacity: 1;
    transform: translate(-1vw, 0);
  }
  50% {
    opacity: 1;
    transform: translate(1vw, 0);
  }
  75%,
  100% {
    opacity: 0;
    transform: translate(700%, 0);
  }
}

@keyframes scaleMove {
  15% {
    opacity: 1;
    transform: translate(-1vw, 0);
  }
  35% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: translate(1vw, 0) scale(2);
  }
  100% {
    opacity: 0;
    transform: translate(1vw, 0) scale(1);
  }
}