$--color-black: #000000 !default;
$--color-white: #FFFFFF !default;
$--color-blue: #0f59a4 !default;



$--color-primary-light-1: mix($--color-white, $--color-blue, 10%) !default; 
$--color-primary-light-2: mix($--color-white, $--color-blue, 20%) !default; 
$--color-primary-light-3: mix($--color-white, $--color-blue, 30%) !default; 
$--color-primary-light-4: mix($--color-white, $--color-blue, 40%) !default; 
$--color-primary-light-5: mix($--color-white, $--color-blue, 50%) !default; 
$--color-primary-light-6: mix($--color-white, $--color-blue, 60%) !default; 
$--color-primary-light-7: mix($--color-white, $--color-blue, 70%) !default; 
$--color-primary-light-8: mix($--color-white, $--color-blue, 80%) !default; 
$--color-primary-light-9: mix($--color-white, $--color-blue, 90%) !default; 